@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.side-scrollbar::-webkit-scrollbar {
  display: none;
}

.side-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar:hover::-webkit-scrollbar-thumb {
    background: #000;
}

.scrollbar::-webkit-scrollbar {
  height: 10px;
  border-radius: 30pc;
}

.scrollbar::-webkit-scrollbar-track {
  background: #fff;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #EDEDED;
}

.section {
  @apply px-4 pt-8 md:px-16;
}

.customer a.active{
  color: #FF9B59;
  border-bottom: 3px solid #FF9B59;
}

input[type="file"] {
  cursor: pointer;
}

.file-upload::before {
  content: 'Choose';
  background-color: rgba(34, 65, 145, 1);
  padding: 8px;
  border-radius: 4px ;
  border: none;
  cursor: pointer;
  color: #fff;
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 60px;
} 